*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

nav {
    background-color: #172b3d;
    height: 96px;
    width: 100%;
    top: 50%;
    padding-left: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    align-items: center;
    height: 100%;
}

nav .imgNav {
    width: 35px;
    height: 35px;
}

nav ul li a {
    position: relative;
    text-decoration: none;
    color: white;
    font-size: large;
    margin-left: 65px;
}

nav ul li a:not(:has(img))::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 2px;
    width: 0%;
    background-color: white;
    transition: width 0.3s ease-in-out;
}

nav ul li a:not(:has(img)):hover::after {
    width: 100%;
}

nav .navButton {
    background: linear-gradient(to right, rgb(52, 165, 68) 50%, white 50%);
    background-size: 200% 100%;
    background-position: left;
    color: white;
    font-size: large;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    height: 60px;
    width: 215px;
    transition: background-position 0.4s ease, color 0.4s ease, transform 0.3s ease;
    margin-left: 65px;
}

nav .navButton:hover {
    background-position: right;
    color: rgb(52, 165, 68);
    cursor: pointer;
    transform: scale(1.1);
}

nav .iconeWhatsappNav {
    width: 15px;
    height: 15px;
    margin-left: 2.5px;
    vertical-align: middle;
    animation: mover-horizontal 0.6s infinite alternate;
}

@keyframes mover-horizontal {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(5px);
    }
}

.divPrincipal {
    background-image: linear-gradient(to right, rgba(0, 32, 96, 0.8), rgba(0, 32, 96, 0.192) 85%), 
                      url('img/assinatura-de-contratos(1).jpg');
    height: 700px;
    color: white;
    display: flex;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.divPrincipal .divPrincipalConteudo {
    margin-left: 50px;
}

header nav ul li .headerConteudoLogo {
    display: flex;
}

.divPrincipal .divPrincipalConteudo .divPrincipalConteudoLogo {
    display: none;
}

header nav ul li .headerConteudoLogo .headerConteudoLogoImg {
    height: 70px;
    width: 70px;
    margin-right: 5px;
}

header nav ul li .headerConteudoLogo .headerConteudoLogoTxt .headerTxt1 {
    margin-top: 5px;
    margin-left: 0px;
    font-size: 40px;
    text-transform: uppercase;
    color: goldenrod;
}

header nav ul li .headerConteudoLogo .headerConteudoLogoTxt .headerTxt2 {
    margin-top: -5px;
    font-size: 15px;
    text-transform: uppercase;
    color: goldenrod;
}

.divPrincipalTxt3 {
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 30px;
    padding-right: 500px;
}

.divPrincipalButton {
    background: linear-gradient(to right, rgb(52, 165, 68) 50%, white 50%);
    background-size: 200% 100%;
    background-position: left;
    color: white;
    font-size: large;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    height: 60px;
    width: 300px;
    margin-bottom: 130px;
    transition: background-position 0.4s ease, color 0.4s ease, transform 0.3s ease;
}

.divPrincipalButton:hover {
    background-position: right;
    color: rgb(52, 165, 68);
    cursor: pointer;
    transform: scale(1.1);
}

.divAreas {
    background-color: white;
    height: 850px;
    display: grid;
    align-items: center;
    text-align: center;
}

.divAreas .divAreasConteudo {
    margin-top: 0px;
}

.divAreas .divAreasConteudo .divAreasTxt {
    text-align: center;
    font-size: 35px;
    color: #172b3d;
}

.carrossel2 {
    position: relative;
    width: 100%;
    height: 600px;
}

.carousel2 {
    width: 100%;
    max-width: 1225px;
    height: auto;
    margin: 0 auto;
    position: relative;
    top: 0;
    left: 0;
    transform: none;
}

.carousel2-cell {
    width: 365px;
    height: 500px;
    margin-right: 65px;
    text-align: center;
    cursor: pointer;
}

.carousel2-cell img {
    width: 365px;
    height: 365px;
    object-fit: cover;
    border-radius: 15px;
}

.carousel2-cell p {
    font-size: 27.5px;
    color: #172b3d;
    margin-top: 7.5px;
}

.carrossel2 .btn {
    position: absolute;
    background-color: #172b3d;
    color: white;
    border: none;
    cursor: pointer;
    z-index: 1;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -67px;
}

.btn3-prev {
    margin-left: -645px;
}

.btn4-next {
    margin-left: 645px;
}

.marcador2 {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #172b3d;
    border-radius: 50%;
    transition: left 0.3s ease;
    margin-top: -30px;
    margin-left: 640px;
}

.modal-carrossel {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-conteudo {
    background-color: #172b3d;
    color: white;
    margin: 10% auto;
    padding: 45px;
    width: 90%;
    max-width: 650px;
    border-radius: 12px;
    text-align: left;
}

.modal-carrossel .modal-conteudo #modalTitulo {
    text-transform: uppercase;
    font-size: 27px;
    line-height: 1.25;
}

.modal-carrossel .modal-conteudo .modalLinha {
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    background-color: rgb(88, 88, 88);
    border-top: 0.01px dotted;
}

.modal-carrossel .modal-conteudo #modalTexto {
    font-size: 18px;
    line-height: 1.5;
}

.fechar {
    float: right;
    font-size: 26px;
    font-weight: bold;
    cursor: pointer;
    margin-top: -30px;
    margin-right: -22.5px;
}

.divDiferencial {
    background-color: #172b3d;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.divDiferencial .divDiferencialConteudo .divDiferencialTxt {
    margin-bottom: 50px;
}

.divDiferencial .divDiferencialTxt {
    text-align: center;
    font-size: 35px;
    color: white;
}

.divDiferencial .divDiferencialConteudoDetalhado {
    display: flex;
}

.divDiferencial .divDiferencialConteudoDetalhado1,
.divDiferencial .divDiferencialConteudoDetalhado2,
.divDiferencial .divDiferencialConteudoDetalhado3 {
    background-color: white;
    width: 400px;
    text-align: left;
    margin-right: 20px;
    border-radius: 5px;
}

.divDiferencial .divDiferencialConteudoDetalhado1 {
    height: 375px;
}

.divDiferencial .divDiferencialConteudoDetalhado2 {
    height: 355px;
}

.divDiferencial .divDiferencialConteudoDetalhado3 {
    height: 380px;
}

.divDiferencial .divDiferencialConteudoDetalhado img {
    height: 65px;
    width: 65px;
    margin-top: 50px;
    margin-left: 50px;
}

.divDiferencial .divDiferencialConteudoDetalhado .divDiferencialConteudoDetalhado1 .divDiferencialConteudoDetalhado1Txt1,
.divDiferencial .divDiferencialConteudoDetalhado .divDiferencialConteudoDetalhado2 .divDiferencialConteudoDetalhado2Txt1,
.divDiferencial .divDiferencialConteudoDetalhado .divDiferencialConteudoDetalhado3 .divDiferencialConteudoDetalhado3Txt1 {
    margin-top: 20px;
    margin-left: 50px;
    font-weight: bold;
    font-size: 25px;
}

.divDiferencial .divDiferencialConteudoDetalhado .linhaDiferencialConteudoDetalhado {
    border: none;
    background-color: lightgray;
    height: 0.1px;
    width: 80%;
    margin-top: 20px;
    margin-left: 50px;
}

.divDiferencial .divDiferencialConteudoDetalhado .divDiferencialConteudoDetalhado1 .divDiferencialConteudoDetalhado1Txt2,
.divDiferencial .divDiferencialConteudoDetalhado .divDiferencialConteudoDetalhado2 .divDiferencialConteudoDetalhado2Txt2,
.divDiferencial .divDiferencialConteudoDetalhado .divDiferencialConteudoDetalhado3 .divDiferencialConteudoDetalhado3Txt2 {
    margin-top: 30px;
    margin-left: 50px;
    font-size: 20px;
}

footer {
    background-color: lightblue;
    height: 100%;
    color: white;
}

footer .divContato {
    display: flex;
    width: 1350px;
    height: 550px;
}

footer .divContato1 {
    height: 100%;
    width: 50%;
    font-weight: bold;
}

footer .divContato1 .divContato1Conteudo {
    margin-top: 70px;
    margin-left: 115px;
}

footer .divContato1 .divContato1Conteudo .divContato1ConteudoTxt {
    font-size: 29px;
    margin-bottom: 10px;
    color: #172b3d;
}

footer .divContato1 .divContato1Conteudo input {
    height: 60px;
    width: 550px;
    margin-top: 8px;
    border: 2px solid #172b3d;
    border-radius: 5px;
    padding-left: 20px;
    font-size: 15px;
}

footer .divContato1 .divContato1Conteudo input:focus,
footer .divContato1 .divContato1Conteudo textarea:focus {
    outline: none;
    border: 2px solid #172b3d;
    box-shadow: none;
}

footer .divContato1 .divContato1Conteudo textarea {
    height: 120px;
    width: 550px;
    margin-top: 8px;
    border: none;
    border-radius: 5px;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid #172b3d;
}

footer .divContato1 .divContato1Conteudo button {
    height: 60px;
    width: 550px;
    margin-top: 8px;
    background-color: yellow;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}

footer .divContato2 {
    height: 100%;
    width: 50%;
}

footer .divContato2 .divContato2Conteudo {
    margin-top: 80px;
    margin-left: 50px;
}

footer .divContato2 .divContato2Conteudo .divContato2ConteudoTxt {
    font-size: 27.5px;
    margin-bottom: 20px;
    color: #172b3d;
}

footer .divContato2 ul {
    font-size: 18.5px;
    list-style-type: none;
    padding-left: 0;
    list-style: none;
}

footer .divContato2 ul li {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

footer .divContato2 ul li a {
    text-decoration: none;
    color: #172b3d;
}

footer .divContato2 .divContato2Conteudo .imgContato {
    width: 25px;
    height: 25px;
    background-color: lightblue;
}

footer .divContato2 .divContato2Conteudo .linhaContato {
    border: none;
    background-color: #172b3d;
    border-top: 0.1px dotted;
    width: 80%;
    margin-top: -5px;
    margin-bottom: 15px;
    margin-left: 0px;
}

footer .divServicos {
    background-image: linear-gradient(to left, rgba(0, 32, 96, 0.8), rgba(0, 32, 96, 0) 75%),
        url('img/postura-plana-conceito-de-mesa-com-espaco-de-copia(1).jpg');
    background-repeat: no-repeat;
    display: flex;
    width: 100%;
    height: 435px;
    background-size: cover;
    background-position: center center;
}

footer .divServicos1 {
    width: 50%;
}

footer .divServicos1 .divServicos1Conteudo {
    margin-top: 80px;
    margin-left: 70px;
}

footer .divServicos1 .divServicos1Conteudo .divServicos1ConteudoLogo {
    display: flex;
    margin-bottom: 35px;
}

footer .divServicos1 .divServicos1Conteudo .divServicos1ConteudoLogo .divServicos1ConteudoLogoImg {
    height: 70px;
    width: 70px;
    margin-top: 0px;
    margin-right: 0px;
}

footer .divServicos1 .divServicos1Conteudo .divServicos1ConteudoTxt1 {
    font-size: 50px;
    margin-left: 0px;
    margin-bottom: 0px;
    text-transform: uppercase;
    color: goldenrod;
}

footer .divServicos1 .divServicos1Conteudo .divServicos1ConteudoTxt2 {
    font-size: 18.75px;
    margin-top: -12.5px;
    margin-bottom: 0px;
    text-transform: uppercase;
    color: goldenrod;
}

footer .divServicos1 .divServicos1Conteudo a {
    color: white;
}

footer .divServicos2 {
    width: 50%;
}

footer .divServicos2 .divServicos2Conteudo {
    margin-top: 80px;
    margin-left: 175px;
}

footer .divServicos2 .divServicos2Conteudo .divServicos2ConteudoTxt {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

footer .divServicos2 .divServicos2Conteudo ul li {
    list-style-type: none;
    font-size: 17.5px;
    margin-top: 10px;
}

.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    width: 60px;
    height: 60px;
    background-color: #25D366;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

.whatsapp-button:hover {
    transform: scale(1.1);
    background-color: white;
}

.whatsapp-button img {
    width: 30px;
    height: 30px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: white;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(52, 165, 68);
    border-radius: 10px;
    border: 2px solid white;
}

::-webkit-scrollbar-thumb:hover {
    background: #3dbf5f;
}

html {
    scrollbar-width: thin;
    scrollbar-color: rgb(52, 165, 68) white;
}

@media (max-width: 768px) and (min-width: 431px) {

    html, body {
        margin: 0;
        padding: 0;
        width: 100%;
        overflow-x: hidden;
    }

    nav {
        display: none;
    }

    .divPrincipal {
        background-image: linear-gradient(to bottom, rgba(0, 32, 96, 0.8), rgba(0, 32, 96, 0.192) 85%),
            url('img/assinatura-de-contratos(1).jpg');
        background-size: 100% 450px;
        height: 450px;
    }

    .divPrincipal .divPrincipalConteudo .divPrincipalConteudoLogo {
        display: block flex;
        margin-top: 140px;
        margin-bottom: 0px;
        margin-left: 75px;
    }

    .divPrincipal .divPrincipalConteudo .divPrincipalConteudoLogo .divPrincipalConteudoLogoImg {
        height: 60px;
        width: 60px;
        margin-top: -4px;
        margin-right: 5px;
    }
    
    .divPrincipal .divPrincipalConteudo .divPrincipalConteudoLogo .divPrincipalConteudoLogoTxt .divPrincipalTxt1 {
        margin-left: 0px;
        font-size: 40px;
        text-transform: uppercase;
        color: goldenrod;
    }
    
    .divPrincipal .divPrincipalConteudo .divPrincipalConteudoLogo .divPrincipalConteudoLogoTxt .divPrincipalTxt2 {
        font-size: 15px;
        margin-bottom: 100px;
        margin-top: -10px;
        text-transform: uppercase;
        color: goldenrod;
    }

    .divPrincipal .divPrincipalConteudo .divPrincipalTxt1 {
        text-align: center;
    }

    .divPrincipal .divPrincipalConteudo .divPrincipalTxt2 {
        text-align: center;
        font-size: 20px;
    }

    .divPrincipal .divPrincipalConteudo .divPrincipalTxt3 {
        font-weight: bold;
        font-size: 40px;
        margin-top: -80px;
        margin-bottom: 0px;
        margin-left: -65px;
        text-align: center;
        padding-right: 30px;
        padding-left: 45px;
    }

    .divPrincipal .divPrincipalConteudo .divPrincipalButton {
        margin-top: 0px;
        margin-left: -25px;
        height: 60px;
        width: 440px;
    }

    .divAreas {
        height: 600px;
    }

    .divAreas .divAreasConteudo {
        height: 325px;
        margin-top: -200px;
        margin-left: -365px;
    }

    .divDiferencial {
        height: 1250px;
    }

    .divDiferencial .divDiferencialConteudo .divDiferencialTxt {
        margin-top: 0px;
        margin-bottom: 50px;
    }

    .divDiferencial .divDiferencialConteudo .divDiferencialConteudoDetalhado {
        margin-top: 0px;
        margin-left: 11.5px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    footer {
        height: 1235px;;
    }

    footer .divContato {
        height: 650px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    footer .divContato .divContato1 {
        height: 400px;
        width: 100%;
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px;
    }

    footer .divContato .divContato1 .divContato1Conteudo {
        height: 400px;
        width: 100%;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        transform: scale(0.85);
    }

    footer .divContato .divContato1 .divContato1Conteudo .divContato1ConteudoTxt,
    footer .divContato .divContato1 .divContato1Conteudo form {
        margin-left: -30px;
    }

    footer .divContato .divContato2 {
        height: 250px;
        width: 100%;
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px;
    }

    footer .divContato .divContato2 .divContato2Conteudo {
        height: 250px;
        width: 100%;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

    footer .divContato2 .divContato2Conteudo .linhaContato {
        width: 85%;
    }

    footer .divContato .divContato2 .divContato2Conteudo .divContato2ConteudoTxt,
    footer .divContato .divContato2 .divContato2Conteudo ul {
        padding-left: 50px;
    }

    footer .divServicos {
        background-size: 100% 585px;
        height: 585px;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px;
    }

    footer .divServicos1 {
        height: 225px;
        width: 100%;
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px;
    }

    footer .divServicos .divServicos1 .divServicos1Conteudo {
        height: 225px;
        width: 100%;
        margin-top: 0px;
        margin-left: 0px;
    }

    footer .divServicos .divServicos1 .divServicos1Conteudo .divServicos1ConteudoLogo,
    footer .divServicos .divServicos1 .divServicos1Conteudo .divServicos1ConteudoPolitica {
        padding-top: 50px;
        padding-left: 100px;
    }

    footer .divServicos2 {
        height: 360px;
        width: 100%;
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px;
    }

    footer .divServicos2 .divServicos2Conteudo {
        height: 360px;
        width: 100%;
        margin-top: 0px;
        margin-left: 0px;
    }

    footer .divServicos .divServicos2 .divServicos2Conteudo {
        height: 360px;
        width: 100%;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    footer .divServicos .divServicos2 .divServicos2Conteudo .divServicos2ConteudoTxt{
        padding-left: 100px;
    }

    footer .divServicos .divServicos2 .divServicos2Conteudo ul {
        padding-left: 100px;
    }

    ::-webkit-scrollbar, ::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb {
        display: none;
    }

}

@media (max-width: 429px) and (min-width: 390px) {
    
    html, body {
        margin: 0;
        padding: 0;
        width: 100%;
        overflow-x: hidden;
    }

    nav {
        display: none;
    }

    .divPrincipal {
        background-image: linear-gradient(to bottom, rgba(0, 32, 96, 0.8), rgba(0, 32, 96, 0.192) 85%),
            url('img/assinatura-de-contratos(1).jpg');
        background-size: 100% 365px;
        height: 365px;
    }

    .divPrincipal .divPrincipalConteudo {
        height: 265px;
        width: 100%;
        margin-left: 0px;
    }

    .divPrincipal .divPrincipalConteudo .divPrincipalConteudoLogo {
        display: block flex;
        margin-left: 100px;
        transform: scale(0.9);
        margin-top: -10px;
    }

    .divPrincipal .divPrincipalConteudo .divPrincipalConteudoLogo .divPrincipalConteudoLogoImg {
        height: 60px;
        width: 60px;
        margin-top: -4px;
        margin-right: 5px;
    }
    
    .divPrincipal .divPrincipalConteudo .divPrincipalConteudoLogo .divPrincipalConteudoLogoTxt .divPrincipalTxt1 {
        margin-left: 0px;
        font-size: 40px;
        text-transform: uppercase;
        color: goldenrod;
    }
    
    .divPrincipal .divPrincipalConteudo .divPrincipalConteudoLogo .divPrincipalConteudoLogoTxt .divPrincipalTxt2 {
        font-size: 15px;
        margin-bottom: 100px;
        margin-top: -10px;
        text-transform: uppercase;
        color: goldenrod;
    }

    .divPrincipal .divPrincipalConteudo .divPrincipalTxt3 {
        padding-right: 40px;
        padding-left: 40px;
        font-weight: bold;
        font-size: 32.5px;
        text-align: center;
        margin-top: -85px;
        margin-bottom: 0;
    }

    .divPrincipal .divPrincipalConteudo .divPrincipalButton {
        margin-left: 20px;
        height: 50px;
        width: calc(100% - 40px);
    }

    .divAreas {
        height: 460px;
        width: 100%;
    }

    .divAreas .divAreasConteudo {
        height: 460px;
        width: 100%;
        margin-top: 0px;
        margin-left: 0px;
    }

    .divAreas .divAreasConteudo .divAreasTxt {
        margin-top: 25px;
        margin-left: -570px;
        font-size: 30px;
    }

    .divAreas .divAreasConteudo .carrossel2 {
        transform: scale(0.8);
        margin-top: -75px;
        margin-left: -280px;
    }

    .divAreas .divAreasConteudo .carrossel2 .btn3-prev, .divAreas .divAreasConteudo .carrossel2 .btn4-next{
        display: none;
    }

    .divAreas .divAreasConteudo .carrossel2 .marcador2 {
        margin-left: 175px;
    }

    .modal-carrossel {
        margin-left: 0px;
    }

    .divDiferencial {
        height: 1040px;
    }

    .divDiferencial .divDiferencialConteudo {
        height: 1040px;
        width: 100%;
        margin-left: 0px;
    }

    .divDiferencial .divDiferencialConteudo .divDiferencialTxt {
        transform: scale(0.8);
        margin-top: 25px;
        margin-bottom: 0px;
    }

    .divDiferencial .divDiferencialConteudo .divDiferencialConteudoDetalhado {
        transform: scale(0.8);
        margin-top: -85px;
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    footer .divContato {
        height: 315px;
        width: 100%;
        margin-left: 0px;
    }

    footer .divContato1 {
        height: 170px;
        width: 100%;
    }

    footer .divContato2 {
        height: 145px;
        width: 100%;
    }

    footer .divContato, footer .divServicos {
        display: flex;
        flex-direction: column;
    }

    footer .divContato .divContato1 .divContato1Conteudo {
        transform: scale(0.675);
        margin-top: -40px;
        margin-left: -65px;
    }

    footer .divContato .divContato1 .divContato1Conteudo .divContato1ConteudoTxt {
        white-space: nowrap
    }

    footer .divContato .divContato2 .divContato2Conteudo {
        transform: scale(0.8);
        margin-top: 125px;
        margin-left: 0px;
        white-space: nowrap
    }

    footer .divContato2 .divContato2Conteudo .linhaContato {
        width: 100%;
    }

    footer .divServicos {
        background-size: 100% 510px;
        height: 510px;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 200px;
        margin-bottom: 0px;
        padding: 0px;
    }

    footer .divServicos1 {
        height: 175px;
        width: 100%;
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px;
    }


    footer .divServicos .divServicos1 .divServicos1Conteudo .divServicos1ConteudoLogo {
        transform: scale(0.8);
        margin-top: -25px;
        margin-bottom: 0px;
        margin-left: -35px;
    }

    footer .divServicos .divServicos1 .divServicos1Conteudo .divServicos1ConteudoPolitica {
        transform: scale(0.8);
        position: relative;
        margin-top: -35px;
    }

    footer .divServicos2 {
        height: 335px;
        width: 100%;
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px;
    }

    footer .divServicos2 .divServicos2Conteudo {
        height: 335px;
        width: 100%;
        margin-top: 0px;
        margin-left: 0px;
    }

    footer .divServicos .divServicos2 .divServicos2Conteudo .divServicos2ConteudoTxt {
        margin-top: 0px;
    }
    
    footer .divServicos .divServicos2 .divServicos2Conteudo .divServicos2ConteudoTxt,
    footer .divServicos .divServicos2 .divServicos2Conteudo ul {
        transform: scale(0.9);
        margin-bottom: 0px;
        margin-left: 0px;
    }

    ::-webkit-scrollbar, ::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb {
        display: none;
    }

}

@media (max-width: 389px) and (min-width: 361px) {

    html, body {
        margin: 0;
        padding: 0;
        width: 100%;
        overflow-x: hidden;
    }

    nav {
        display: none;
    }

    .divPrincipal {
        background-image: linear-gradient(to bottom, rgba(0, 32, 96, 0.8), rgba(0, 32, 96, 0.192) 85%),
            url('img/assinatura-de-contratos(1).jpg');
        background-size: 100% 365px;
        height: 365px;
    }

    .divPrincipal .divPrincipalConteudo {
        height: 265px;
        width: 100%;
        margin-left: 0px;
    }

    .divPrincipal .divPrincipalConteudo .divPrincipalConteudoLogo {
        display: block flex;
        margin-left: 90px;
        transform: scale(0.85);
        margin-top: -10px;
    }

    .divPrincipal .divPrincipalConteudo .divPrincipalConteudoLogo .divPrincipalConteudoLogoImg {
        height: 60px;
        width: 60px;
        margin-top: -4px;
        margin-right: 5px;
    }
    
    .divPrincipal .divPrincipalConteudo .divPrincipalConteudoLogo .divPrincipalConteudoLogoTxt .divPrincipalTxt1 {
        margin-left: 0px;
        font-size: 40px;
        text-transform: uppercase;
        color: goldenrod;
    }
    
    .divPrincipal .divPrincipalConteudo .divPrincipalConteudoLogo .divPrincipalConteudoLogoTxt .divPrincipalTxt2 {
        font-size: 15px;
        margin-bottom: 100px;
        margin-top: -10px;
        text-transform: uppercase;
        color: goldenrod;
    }

    .divPrincipal .divPrincipalConteudo .divPrincipalTxt3 {
        padding-right: 20px;
        padding-left: 20px;
        font-weight: bold;
        font-size: 32.5px;
        text-align: center;
        margin-top: -85px;
        margin-bottom: 0;
    }

    .divPrincipal .divPrincipalConteudo .divPrincipalButton {
        margin-left: 18.5px;
        height: 50px;
        width: 335px;
    }

    .divAreas {
        height: 460px;
    }

    .divAreas .divAreasConteudo {
        height: 460px;
        width: 390px;
        margin-top: 0px;
        margin-left: 0px;
    }

    .divAreas .divAreasConteudo .divAreasTxt {
        margin-top: 25px;
        margin-left: -20px;
        font-size: 30px;
    }

    .divAreas .divAreasConteudo .carrossel2 {
        transform: scale(0.8);
        margin-top: -75px;
        margin-left: -12.5px;
    }

    .divAreas .divAreasConteudo .carrossel2 .marcador2 {
        margin-left: 175px;
    }

    .modal-carrossel {
        margin-left: 0px;
    }

    .divDiferencial {
        height: 1040px;
    }

    .divDiferencial .divDiferencialConteudo {
        height: 1040px;
        width: 100%;
        margin-left: 0px;
    }

    .divDiferencial .divDiferencialConteudo .divDiferencialTxt {
        transform: scale(0.8);
        margin-top: 25px;
        margin-bottom: 0px;
        margin-left: -7.5px;
        white-space: nowrap
    }

    .divDiferencial .divDiferencialConteudo .divDiferencialConteudoDetalhado {
        transform: scale(0.75);
        margin-top: -85px;
        margin-left: -17.5px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    footer .divContato {
        height: 315px;
        width: 100%;
        margin-left: 0px;
    }

    footer .divContato1 {
        height: 170px;
        width: 100%;
    }

    footer .divContato2 {
        height: 145px;
        width: 100%;
    }

    footer .divContato, footer .divServicos {
        display: flex;
        flex-direction: column;
    }

    footer .divContato .divContato1 .divContato1Conteudo {
        transform: scale(0.6);
        margin-top: -40px;
        margin-left: -70px;
    }

    footer .divContato .divContato1 .divContato1Conteudo .divContato1ConteudoTxt {
        white-space: nowrap
    }

    footer .divContato .divContato2 .divContato2Conteudo {
        transform: scale(0.8);
        margin-top: 125px;
        margin-left: 0px;
        white-space: nowrap
    }

    footer .divContato2 .divContato2Conteudo .linhaContato {
        width: 100%;
    }

    footer .divServicos {
        background-size: 100% 510px;
        height: 510px;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 200px;
        margin-bottom: 0px;
        padding: 0px;
    }

    footer .divServicos1 {
        height: 175px;
        width: 100%;
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px;
    }

    footer .divServicos .divServicos1 .divServicos1Conteudo .divServicos1ConteudoLogo {
        transform: scale(0.8);
        margin-top: -25px;
        margin-bottom: 0px;
        margin-left: -35px;
    }

    footer .divServicos .divServicos1 .divServicos1Conteudo .divServicos1ConteudoPolitica {
        transform: scale(0.8);
        position: relative;
        margin-top: -35px;
    }

    footer .divServicos2 {
        height: 335px;
        width: 100%;
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px;
    }

    footer .divServicos2 .divServicos2Conteudo {
        height: 335px;
        width: 100%;
        margin-top: 0px;
        margin-left: 0px;
    }

    footer .divServicos .divServicos2 .divServicos2Conteudo .divServicos2ConteudoTxt {
        margin-top: 0px;
    }
    
    footer .divServicos .divServicos2 .divServicos2Conteudo .divServicos2ConteudoTxt,
    footer .divServicos .divServicos2 .divServicos2Conteudo ul{
        transform: scale(0.9);
        margin-bottom: 0px;
        margin-left: 0px;
        white-space: nowrap
    }

    ::-webkit-scrollbar, ::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb {
        display: none;
    }

}

@media (max-width: 360px) {    

    html, body {
        margin: 0;
        padding: 0;
        width: 100%;
        overflow-x: hidden;
    }

    nav {
        display: none;
    }

    .divPrincipal {
        background-image: linear-gradient(to bottom, rgba(0, 32, 96, 0.8), rgba(0, 32, 96, 0.192) 85%),
            url('img/assinatura-de-contratos(1).jpg');
        background-size: 100% 365px;
        height: 365px;
    }

    .divPrincipal .divPrincipalConteudo {
        height: 265px;
        width: 100%;
        margin-left: 0px;
    }

    .divPrincipal .divPrincipalConteudo .divPrincipalConteudoLogo {
        display: block flex;
        margin-left: 85px;
        transform: scale(0.85);
        margin-top: -10px;
    }

    .divPrincipal .divPrincipalConteudo .divPrincipalConteudoLogo .divPrincipalConteudoLogoImg {
        height: 60px;
        width: 60px;
        margin-top: -4px;
        margin-right: 5px;
    }
    
    .divPrincipal .divPrincipalConteudo .divPrincipalConteudoLogo .divPrincipalConteudoLogoTxt .divPrincipalTxt1 {
        margin-left: 0px;
        font-size: 40px;
        text-transform: uppercase;
        color: goldenrod;
    }
    
    .divPrincipal .divPrincipalConteudo .divPrincipalConteudoLogo .divPrincipalConteudoLogoTxt .divPrincipalTxt2 {
        font-size: 15px;
        margin-bottom: 100px;
        margin-top: -10px;
        text-transform: uppercase;
        color: goldenrod;
    }

    .divPrincipal .divPrincipalConteudo .divPrincipalTxt3 {
        padding-right: 20px;
        padding-left: 20px;
        font-weight: bold;
        font-size: 32.5px;
        text-align: center;
        margin-top: -85px;
        margin-bottom: 0;
    }

    .divPrincipal .divPrincipalConteudo .divPrincipalButton {
        margin-left: 18.5px;
        height: 50px;
        width: 320px;
    }

    .divAreas {
        height: 460px;
    }

    .divAreas .divAreasConteudo {
        height: 460px;
        width: 390px;
        margin-top: 0px;
        margin-left: 0px;
    }

    .divAreas .divAreasConteudo .divAreasTxt {
        margin-top: 25px;
        margin-left: -20px;
        font-size: 30px;
    }

    .divAreas .divAreasConteudo .carrossel2 {
        transform: scale(0.8);
        margin-top: -75px;
        margin-left: -12.5px;
    }

    .divAreas .divAreasConteudo .carrossel2 .marcador2 {
        margin-left: 175px;
    }

    .modal-carrossel {
        margin-left: 0px;
    }

    .divDiferencial {
        height: 1040px;
    }

    .divDiferencial .divDiferencialConteudo {
        height: 1040px;
        width: 100%;
        margin-left: 0px;
    }

    .divDiferencial .divDiferencialConteudo .divDiferencialTxt {
        transform: scale(0.8);
        margin-top: 25px;
        margin-bottom: 0px;
        margin-left: -7.5px;
        white-space: nowrap
    }

    .divDiferencial .divDiferencialConteudo .divDiferencialConteudoDetalhado {
        transform: scale(0.75);
        margin-top: -85px;
        margin-left: -17.5px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    footer {
        height: auto;
        display: flex;
        flex-direction: column;
    }

    footer .divContato {
        height: 315px;
        width: 100%;
        margin-left: 0px;
    }

    footer .divContato1 {
        height: 170px;
        width: 100%;
    }

    footer .divContato2 {
        height: 145px;
        width: 100%;
    }

    footer .divContato, footer .divServicos {
        display: flex;
        flex-direction: column;
    }

    footer .divContato .divContato1 .divContato1Conteudo {
        transform: scale(0.55);
        margin-top: -40px;
        margin-left: -70px;
    }

    footer .divContato .divContato1 .divContato1Conteudo .divContato1ConteudoTxt {
        white-space: nowrap
    }

    footer .divContato .divContato2 .divContato2Conteudo {
        transform: scale(0.8);
        margin-top: 125px;
        margin-left: 0px;
        white-space: nowrap
    }

    footer .divContato2 .divContato2Conteudo .linhaContato {
        width: 100%;
    }

    footer .divServicos {
        background-size: 100% 510px;
        height: 510px;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 200px;
        margin-bottom: 0px;
        padding: 0px;
    }

    footer .divServicos1 {
        height: 175px;
        width: 100%;
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px;
    }

    footer .divServicos .divServicos1 .divServicos1Conteudo .divServicos1ConteudoLogo {
        transform: scale(0.8);
        margin-top: -25px;
        margin-bottom: 0px;
        margin-left: -35px;
    }

    footer .divServicos .divServicos1 .divServicos1Conteudo .divServicos1ConteudoPolitica {
        transform: scale(0.8);
        position: relative;
        margin-top: -35px;
    }

    footer .divServicos2 {
        height: 335px;
        width: 100%;
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px;
    }

    footer .divServicos2 .divServicos2Conteudo {
        height: 335px;
        width: 100%;
        margin-top: 0px;
        margin-left: 0px;
    }

    footer .divServicos .divServicos2 .divServicos2Conteudo .divServicos2ConteudoTxt {
        margin-top: 0px;
    }
    
    footer .divServicos .divServicos2 .divServicos2Conteudo .divServicos2ConteudoTxt,
    footer .divServicos .divServicos2 .divServicos2Conteudo ul{
        transform: scale(0.9);
        margin-bottom: 0px;
        margin-left: 0px;
        white-space: nowrap
    }

    ::-webkit-scrollbar, ::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb {
        display: none;
    }

    @media (min-width: 480px) and (max-width: 900px) and (orientation: landscape) {
        
        
        
    }      

}